.btn{
  width: 30vw;
  height: 35vh;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition-duration: 500ms;
  background-color: #545454;
  text-transform: uppercase;
  color: white;
}
.btn:active{
  opacity: 0.7;
  transition-duration: 0.5ms;
}
.btn > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn div > p {
  display: flex;
  font-size: 50px;
}
.btn div > h1 {
  font-size: 35px;
}

@media screen and (min-width: 1300px){
  .btn div > p {
    display: flex;
    font-size: 50px;
  }
  .btn div > h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .btn{
    height: 25vh;
  }
  .btn div > p {
    display: flex;
    font-size: 40px;
  }
  .btn div > h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 576px) {
  .btn{
    height: 20vh;
  }
  .btn div > p {
    display: flex;
    font-size: 35px;
  }
  .btn div > h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 490px) {
  .btn div > h1 {
    display: none;
  }
}
