.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #111213;
}

header{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  font-style: italic;
}
header > h1{
  text-shadow: 1px 1px #fff;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #E39402;
}
header > h3{
  color: #fff;
}
main{
  width: 100vw;
  display: flex;
  justify-content: space-around
}

.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
}
.modalContent {
  padding: 50px;
  border-radius: 20px;
  border: 3px solid white;
  background-color: rgba(255,165,0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modalContent > h1 {
  color: white;
  width: 30vw;
  text-align: center;
  margin-bottom: 40px;
}
.btnsModal {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.btnsModal > button {
  width: 10vw;
  height: 7vh;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
}

.modalPreviewContent{
  display: flex;
  height: 50vh;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  background-color: #fff;
}
.modalPreviewContent > h1{
  width: 25vw;
  color: #E39402;
  text-align: center;
}
.modalPreviewContent > button{
  width: 10vw;
  height: 7vh;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
}
.modalPreviewContent > p{
  font-size: 50px;
  font-weight: 300;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 30px;
  height: 30px;
  border: 2px solid #E39402;
  border-top: 2px solid #fff;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@media screen and (min-width: 1300px){
  header > h1{
    font-size: 50px;
  }
  header > h3{
    font-size: 25px;
  }
  .modalContent {
    padding: 80px;
  }
  .modalContent > h1 {
    font-size: 50px;
  }
  .btnsModal > button {
    font-size: 20px;
  }
}